.photo-grid {
  display: grid;
  place-items: center;
  max-width: 1184px;
  margin: 118px auto 92px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: auto auto;
  gap: 16px;
}

.photo-grid__view {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 64x auto 88px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    padding: 0 20px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    display: flex;
    flex-direction: column;
    margin: 38px 0 62px;
  }
}
